nav {
    margin: 0 auto 10px auto;
    background-color: DeepSkyBlue;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

nav h1 {
    margin: 10px;
    font-size: 2em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 10px;
}

nav ul .navlink a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

nav ul .navlink:hover {
    background-color: white;
}

nav ul .navlink:hover a {
    color: DeepSkyBlue;
}

main {
    margin: 0 auto;
    padding: 20px;
}

.placeholder-task {
    text-shadow: DeepSkyBlue 1px 0 10px;
}

/* todo list style */
.task-list {
    list-style-type: none;
}

/* Each task item */
.task-list li {
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 12px 18px; 
}

/* Hover effect */
.task-list li:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

/* Task link styling */
.task-list a {
    text-decoration: none;
    color: #0a66c2;
    font-weight: 500;
    display: block;
}

.task-list a:hover {
    color: #084b8a;
    text-decoration: underline;
}

.task-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn {
  background-color: DeepSkyBlue;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5em;
  cursor: pointer;
}

/* New Task / Edit Task forms */
label {
    /* display: block; */
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
}

input[type="text"],
input[type="password"],
textarea {    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 1em;
}

textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
}
