{% extends 'base.html' %}
{% block main %}
<h1>{{ task.title }}</h1>
<p>{{ task.description }}</p>
<p><small>Created at: {{ task.created_at}}</p>

<div class="task-actions">
    <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn">Edit</a>
    <form method="post" action="{{ url_for('delete_task', task_id=task.id) }}">
        <button type="submit" class="btn">Delete</button>
    </form>
    <form method="post" action="{{ url_for('toggle_task_completion', task_id=task.id) }}">
        {% if task.completed %}
            <button type="submit" class="btn">Reopen Task</button>
        {% else %}
            <button type="submit" class="btn">Mark Complete</button>
        {% endif %}
    </form>
</div>
{% endblock %}